* {
    padding: 0%;
    margin: 0%;
   
    /* box-sizing: border-box; */
}

body {
    background: linear-gradient(45deg,black,white);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    
    width: 200px;
    height: 300px;
    border-radius: 10%;
    transition: transform .2s;
    background-image: url("event 3.jpg");
    
}

.card {
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    
    border-radius: 10%;
}

h1 {
    color:white;
    margin-bottom: 10px;
}

.container:hover {
    transform: scale(1.1);
}

.card:hover {
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,1));;
}