* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    display: inline-flex;
}

.wrapper .static-text {
    color:black;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 400;
}

.wrapper .dynamic {
    margin-left: 15px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.dynamic li {
    color:red;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    animation: slide 3s steps(2) infinite;

}

.dynamic li span {
    position: relative;
}


.dynamic li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    border-left: 2px solid red;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    50% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
    100% {
        left: 0;
        margin: 0 0 0 0;
    }

    
}

@keyframes slide {
    100% {
        top: -90px;
    }

    
}